.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.site-link {
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid rgb(191, 191, 191);
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins, sans-serif, Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.site-link:hover {
  border: 1px solid red;
  background-color: rgb(251, 230, 230);
  color: red;
}

.product-card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  width: 250px;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.product-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-seller {
  font-size: 15px;
  margin: 10px;
}

.product-price {
  font-size: 16px;
  color: #007bff;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.table-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  padding: 10px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 15px;
}

.store-table td {
  padding: 10px 20px;
}

.store-table th {
  padding: 12px 20px;
}

.table-header {
  border-bottom: 1px solid rgb(224, 224, 224);
  text-align: left;
  padding: 10px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif, Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.table-row {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 10px 30px;
}

.table-row:hover {
  background-color: #e0e0e0;
}

.table-cell {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.table-store-status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 70%;
  max-width: 100px;
  font-family: "Poppins", sans-serif;
  border-radius: 40px;
  padding: 5px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: none;
  margin: 0px 22px;
  font-size: xx-large;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px; 
  font-family: sans-serif;
  font-size: medium;
  padding: 5px;
}

.dropdown-content a {
  margin: 3px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a:hover {
  background-color: #3498db;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-dialog {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  font-family: poppins, sans-serif;
}

.modal-dates {
  display: flex;
  justify-content: space-evenly;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.confirm-btn {
  background: linear-gradient(
    0deg,
    rgb(236, 72, 61) 0%,
    rgb(215, 45, 42) 48.3%,
    rgb(186, 38, 63) 100%
  );
  color: white;
  border: none;
}
.cancel-btn {
  background: transparent;
  color: black;
  border: 1px solid black;
}

.modal-dialog h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-dialog p {
  margin-bottom: 20px;
}

.modal-dialog .react-datepicker-wrapper {
  margin-bottom: 10px;
}

.modal-dialog button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif, Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}


